@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #1F2937;
  --surface: #FFFFFF;

  --primary-accent: #FF7F50;  
  --secondary-accent: #007BFF; 
}

html.dark {
  --background: #121212;      
  --foreground: #F3F4F6;      
  --surface: #1F2937;        
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);

  --color-primary-accent: var(--primary-accent);
  --color-secondary-accent: var(--secondary-accent);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: var(--font-sans);
}