@import "tailwindcss";

@variant dark (html.dark &);

:root {
  /* Default to dark theme */
  --background: #121212;
  --foreground: #F3F4F6;
  --surface: #1F2937;

  /* Accent colors */
  --primary-accent: #FF7F50;
  --secondary-accent: #007BFF;
}

html.light {
  --background: #F0ECD0;      /* 淡米黃色背景 */
  --foreground: #3C2415;      /* 深褐色文字 */
  --surface: #FAF0E6;         /* 鵝黃色表面 */
  --extra-surface: #FAF0E6;
}

html.dark {
  --background: #121212;
  --foreground: #F3F4F6;
  --surface: #1F2937;
}

@theme inline {
  /* Use CSS variables for theme colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-primary-accent: var(--primary-accent);
  --color-secondary-accent: var(--secondary-accent);

  /* Light theme colors for Tailwind classes */
  --color-light-background: #FBF2E4;
  --color-light-text: #3C2415;
  --color-light-surface: #FAF0E6;
  

  /* Dark theme colors for Tailwind classes */
  --color-dark-background: #121212;
  --color-dark-text: #F3F4F6;
  --color-dark-surface: #1F2937;

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: var(--font-sans);
}